You or someone has requested password reset for your account on Best-Destionation.com

Please click on this link to reset your password: <a href="{{ url('user_resetForm_password', {'_locale': app.request.attributes.get('_locale'), 'username' : user.username, 'hash': user.hash}) }}">{{ 'confirmation_link' | trans }}</a>

We recommend to change your password as soon as you login on your account.
Our support team will check your accommodation information and will approve the accommodation within 8 hours.

Kind regards,
Your Best-destination.com Team