/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.idea/
.idea/*
node_modules
bower_components
/web/bundles/app/bower_components
/web/bundles/app/node_modules
/src/bundles/app/bower_components
/web/upload
/web/media

best.sublime-project


.tags
