@import "mixins/fontface";
@import "mixins/custom-grids";
@import "mixins/retina-images";
@import "mixins/vertical-align";
@import "mixins/img-background";
@import "mixins/bp";
@import "mixins/triangles";
@import "mixins/placeholder";
@import "mixins/bem";
@import "utilities/fontawesome";
@import "utilities/functions";
@import "utilities/fonts";
@import "utilities/framework";
@import "modules/forms";
@import "../../bower_components/foundation/scss/normalize";
@import "../../bower_components/foundation/scss/foundation";
@import "../../bower_components/foundation/scss/foundation/functions";
@import "utilities/foundation-datetimepicker";
@import "utilities/icheck";
@import "utilities/rangeslider";
@import "utilities/slider";
@import "modules/buttons";
@import "modules/extends";
// Homepage
@import "modules/header";
@import "modules/home-search";
@import "modules/footer";
@import "modules/green-box";
@import "modules/divider";
@import "modules/siteinfo";
@import "modules/single-item";
@import "modules/special-offer";
@import "modules/pagination";
@import "modules/acc-single";
@import "modules/single-unit";
@import "modules/registration";
// Filter
@import "modules/filter";
@import "modules/loginRegSign";
@import "modules/partner";
@import "modules/modals";
@import "modules/blog";
body.f-topbar-fixed {
    @media #{$large-up} {
        padding-top: 0;
    }
}

#search_categorization {
    display: none;
}

.form-part-2 label.required {
    display: none;
}

.filter-divider-down.row + div {
    display: none;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}
