<ul>
    <li>{{ 'home' | trans }}</li>
    <li>Moji oglasi
        <ul>
            <li>podaci o objektu</li>
            <li>Smjestajne jedinica</li>
            <li>upravljanje slikama</li>
            <li>upravljanje videom</li>
            <li>pozicioniranje na karti</li>
            <li>dodatno oglasavanje</li>
        </ul>
    </li>
    <li>Poruke
        <ul>
            <li>Inbox</li>
        </ul>
    </li>
</ul>