{% extends 'base.html.twig' %}
{% block title %}{{ 'home' | trans }}{% endblock %}
    {% block content %}
        {% block foundation_header %}
            {% include 'includes/foundation-header.html.twig'  %}
        {% endblock %}
<div style="padding-top: 105px; padding-bottom: 400px" class="row">
	<h1>About Page</h1>
	<br><br>

	<div class="large-6 columns">
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, enim amet quam pariatur. Laboriosam, necessitatibus, magnam. Sequi cum earum at corrupti sunt eligendi temporibus alias impedit, quae, odit commodi animi.</div>
		<div>Placeat neque eius quaerat repellendus, modi mollitia minus quisquam incidunt dolor ipsum omnis quis odio quidem. Repellat molestiae quaerat veniam esse porro autem. Reiciendis harum tempora voluptates aliquam, accusamus culpa!</div>
		<div>Excepturi unde ducimus quae, eveniet eaque iure nam repellat necessitatibus ad nulla facilis molestiae earum impedit rerum expedita, aliquam itaque tempora qui placeat eius perferendis in dolorum magnam consectetur odio!</div>
		<div>Hic commodi aut quaerat dolores consequuntur libero, porro iste placeat repudiandae tempora iusto repellat tenetur, amet dignissimos neque? Doloribus modi quos omnis facilis saepe eos, assumenda consectetur vitae esse unde?</div>
	</div>
	<div class="large-6 columns">
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, enim amet quam pariatur. Laboriosam, necessitatibus, magnam. Sequi cum earum at corrupti sunt eligendi temporibus alias impedit, quae, odit commodi animi.</div>
		<div>Placeat neque eius quaerat repellendus, modi mollitia minus quisquam incidunt dolor ipsum omnis quis odio quidem. Repellat molestiae quaerat veniam esse porro autem. Reiciendis harum tempora voluptates aliquam, accusamus culpa!</div>
		<div>Excepturi unde ducimus quae, eveniet eaque iure nam repellat necessitatibus ad nulla facilis molestiae earum impedit rerum expedita, aliquam itaque tempora qui placeat eius perferendis in dolorum magnam consectetur odio!</div>
		<div>Hic commodi aut quaerat dolores consequuntur libero, porro iste placeat repudiandae tempora iusto repellat tenetur, amet dignissimos neque? Doloribus modi quos omnis facilis saepe eos, assumenda consectetur vitae esse unde?</div>
	</div>
</div>


{% block foundation_footer %}
    {% include 'includes/foundation-footer.html.twig'  %}
{% endblock %}
{% endblock %}