
        <!-- breadcrumbs -->
        <ul class="breadcrumbs">
            <li><a href="#"><span class="entypo-home"></span></a>
            </li>
            <li>Dashboard
            </li>
        <!--   <ul class="right inline-list">
            <li>Help Center</a>
            </li>
            <li>Mail Support
            </li>
        </ul> -->
    </ul>
    <!-- end of breadcrumbs -->